.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 20px ;
    background-color: #100113;
    opacity: 80%;
    color: white;
    height: 100px;
    margin: 0; 
    width: 100%;
    top: 0;
    left: 0; 
}

.header .logo img {
    margin-left: 40px;
    height: 100px; 
}
.header .links {
    display: flex;
    align-items: center; /* Aligns logout button with links */
}

.header .links a {
    margin: 0 20px ;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-right: 30px;
    padding-left: 0;
}

.header .links a:hover {
    color: #ba03c7; 
}

.header .links a:active {
    text-decoration: underline;
    color: white;
}

  
.logout-btn {
    background-color: #db1919;
    color: white;
    border: none;
    padding: 8px 20px; 
    margin: 0 40px; 
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px; 
    text-align: center;
}

.logout-btn:hover {
    background-color: #cc0000af;
}